.weather-app-body {
  border-radius: 5px;
  width: 600px;
  height: 475px;
  display: block;
  margin: 30px auto;
  padding: 20px 20px;
  background-color: white;
  font-family: arial;
  box-shadow: 0px 0px 09px 0px #000000;
}
body {
  background-color: #d4e9ef;
}

form {
  text-align: center;
  font-size: 15px;
}
.search-bar {
  text-align: center;
  padding: 9px 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(251 251 251 / 66%);
  font-weight: 700;
}

.search-btn {
  text-align: center;
  padding: 9px 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(251 251 251 / 66%);
  margin-top: 5px;
  font-weight: 700;
}
.search-btn:hover {
  cursor: pointer;
  background-color: rgba(180, 141, 218, 0.726);
  transition: all 150ms ease-in-out;
  color: white;
  border: 1px solid white;
}
.location-btn {
  background-color: rgb(251 251 251 / 66%);
  border: 1px solid rgb(0, 0, 0);

  border-radius: 8px;
  font-size: 40px;
  padding: 17px 15px;
  text-align: center;
  transition: all 120ms ease-in-out;
  background-image: url(ping.png);
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
  top: -4px;
}
.col-7 {
  width: 68.333333%;
}
.col-2 {
  width: 11.666667%;
}
.fa-sharp {
  width: 30px;
}
.location-btn:hover {
  cursor: pointer;
  background-color: rgb(94 144 94 / 71%);
  transition: all 200ms ease-in-out;
  color: white;
  border: 1px solid white;
}
h3 {
  font-size: 15px;
  text-align: center;
  font-weight: 300;
  margin-top: 5px;
}
h1 {
  margin-top: 60px;
  margin-bottom: 8px;
  text-transform: capitalize;
}
h2 {
  font-size: 15px;
  margin-left: 80px;
  margin-top: 0px;
  margin-bottom: 10px;
}
h2::first-letter {
  text-transform: capitalize;
}
.current-weather-container {
  display: grid;
  grid-template-columns: 8fr 15fr 30fr;
  grid-template-rows: 95px;
  align-items: center;
  margin-bottom: 25px;
}
.current-temp {
  font-size: 50px;
  position: relative;
  bottom: 5px;
}
.units {
  font-size: 15px;
  position: relative;
  bottom: 30px;
}
.active {
  color: black;
  cursor: default;
}
.extra-data {
  bottom: 0px;
  font-weight: 700;
}

.current-weather-emoji {
  width: 105%;
  position: relative;
  bottom: 15px;
}
ul {
  list-style: none;
  position: relative;
  bottom: 5px;
  margin-left: 92px;
}
.forcast-container {
  text-align: center;
}
.col-3 {
  width: 20%;
}
.weather-forecast-temperature-min {
  opacity: 80%;
}
.weather-forecast-temperatures {
  font-size: 15px;
}
.weather-forecast-date {
  font-size: 20px;
}
/*
.forcast-container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(3, 50px);
  text-align: center;
}
.forcast-days {
  padding-top: 10px;
}
.forcast-temp {
  padding-top: 10px;
}*/
.link {
  text-decoration: none;
  position: relative;
  top: 50px;
  font-size: 14px;
  right: 16px;
}
a {
  text-decoration: none;
}
.name-emoji {
  font-size: 20px;
  position: relative;
  bottom: 2px;
}
